<nav data-th-fragment="admin-nav" id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link btn btn-light btn-sm" href="#">
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-light btn-sm" href="#">
                    User Activity
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-light btn-sm" href="#">
                    Display List of Users
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-light btn-sm" href="#">
                    Create New User
                </a>
            </li>
            <!-- Add more menu items as needed -->
        </ul>
    </div>
</nav>