<!doctype html>
<html lang="en" >
<head data-th-replace="~{layout :: head}"></head>
<body>
<nav data-th-replace="~{layout :: navbar}"></nav>

<div class="container mt-4">

    <div class="card mb-4">
        <div class="card-header">
            <h2 class="mb-0">User Info</h2>
        </div>
        <div class="card-body">
            <div class="row mt-3">
                <div class="col">
                    <strong>Username:</strong> <span data-th-text="${user.username}"></span>
                </div>
                <div class="col">
                    <strong>First Name:</strong> <span data-th-text="${user.firstName}"></span>
                </div>
                <div class="col">
                    <strong>Last Name:</strong> <span data-th-text="${user.lastName}"></span>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <strong>Email:</strong> <span data-th-text="${user.email}"></span>
                </div>
                <div class="col">
                    <strong>Date of Birth:</strong> <span data-th-text="${user.dateOfBirth}"></span>
                </div>
                <div class="col">
                    <strong>Role:</strong> <span data-th-text="${user.role}"></span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <!-- Add a button to update metadata -->
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2 class="mb-0">User's Documents</h2>
        </div>
        <div class="card-body">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Access File</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="document : ${documentPage.content}">
                    <td data-th-text="${document.fileName}"></td>
                    <td data-th-text="${document.fileType}"></td>
                    <td data-th-text="${document.approvalStatus}"></td>
                    <td>
                        <a data-th-href="@{/document/{id}(id=${document.id})}" class="btn btn-primary">View Details</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="card-footer">
            <div  data-th-if="${totalPages > 1}">
                <div class="row col-sm-10">
                    <div class="col-sm-2">
                        Total Rows: [[${totalItems}]]
                    </div>
                    <div class="col-sm-1">
                    <span data-th-each="i: ${#numbers.sequence(1, totalPages)}">
      <a data-th-if="${currentPage != i}" data-th-href="@{'/admin/user/' + ${user.id} + '/page/' + ${i}}">[[${i}]]</a>
      <span data-th-unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                    </span>
                    </div>
                    <div class="col-sm-1">
                        <a data-th-if="${currentPage < totalPages}" data-th-href="@{'/admin/user/' + ${user.id} + '/page/' + ${currentPage + 1}}">Next</a>
                        <span data-th-unless="${currentPage < totalPages}">Next</span>
                    </div>

                    <div class="col-sm-1">
                        <a data-th-if="${currentPage < totalPages}" data-th-href="@{'/admin/user/' + ${user.id} + '/page/' + ${totalPages}}">Last</a>
                        <span data-th-unless="${currentPage < totalPages}">Last</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mt-4">
            <!-- Use a form to submit the delete request -->
            <form id="deleteForm" data-th-action="@{'/admin/user/' + ${user.id} + '/delete'}" method="post">
                <!-- Set the method to DELETE -->
                <input type="hidden" name="_method" value="DELETE">
                <!-- Style the submit button as a delete button and attach an onclick event -->
                <button type="button" class="btn btn-danger" onclick="confirmDelete()">Delete User</button>
            </form>
        </div>
        <div class="col-md-12 mt-4">
            <a class="btn btn-primary" data-th-href="@{'/admin/user/' + ${user.id} + '/update/role'}">Update Role</a>
        </div>
    </div>

</div>


<footer data-th-replace="~{layout :: footer}"></footer>

<script data-th-replace="~{layout :: script}"></script>
<script>
    function confirmDelete() {
        // Show the confirmation dialog
        var isConfirmed = confirm("Are you sure you want to delete this user and all related documents?");

        // If user confirms, submit the form
        if (isConfirmed) {
            document.getElementById("deleteForm").submit();
        }
    }
</script>

</body>

</html>