<!doctype html>
<html lang="en" >
<head data-th-replace="~{layout :: head}"></head>
<body>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <form data-th-action="@{'/authentication/reset/password?token=' + ${token}}" data-th-object="${resetPasswordDTO}" method="post" class="form" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="newPassword">Password</label>
                    <input class="form-control" type="password" data-th-field="*{newPassword}" id="newPassword">
                    <div class="alert alert-warning" data-th-if="${#fields.hasErrors('newPassword')}" data-th-errors="*{newPassword}"></div>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Password</label>
                    <input class="form-control" type="password" data-th-field="*{confirmPassword}" id="confirmPassword">
                    <div class="alert alert-warning" data-th-if="${#fields.hasErrors('confirmPassword')}" data-th-errors="*{confirmPassword}"></div>
                    <div data-th-if="${passwordError}" class="alert alert-danger">
                        <p data-th-text="${passwordError}"></p>
                    </div>
                </div>

                <button type="submit" class="btn btn-success">Send</button>
            </form>
        </div>
    </div>
</div>

<footer data-th-replace="~{layout :: footer}"></footer>

<script data-th-replace="~{layout :: script}"></script>

</body>

</html>