<!doctype html>
<html lang="en" >
<head data-th-replace="~{layout :: head}"></head>
<body>

<div class="container mt-5">
    <div class="alert alert-success" role="alert">
        <p data-th-if="${tokenExpired != null}">Token Expired. A new link has been sent to your email.</p>
        <p data-th-if="${tokenExpired == null}">A link to reset your password has been sent to your email</p>
        <p>Access the link in your email to reset your password.</p>
        <a href="/login">
            <p>Go back to login</p>
        </a>
    </div>
</div>

<footer data-th-replace="~{layout :: footer}"></footer>

<script data-th-replace="~{layout :: script}"></script>

</body>

</html>